/*CSS Izbor grla*/
@import url('https://fonts.googleapis.com/css?family=Muli');

.middle {
  width: 100%;
  text-align: center;
  font-family: 'Muli', sans-serif;

  /* Made by */
}
.middle h1 {
  color: #fff;
}
.middle input[type="checkbox"] {
  display: none;
}
.middle input[type="checkbox"]:checked + .box {
  background-color: #555;
  opacity: .8;
}

.middle input[type="checkbox"]:checked + .box span {
  color: white;
  transform: translateY(1px);
}

.middle input[type="checkbox"]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}

.middle .box {
  width: 120px;
  height: 120px;
  background-color: #ccc;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
}

.middle .box:active {
  transform: translateY(10px);
}


.middle .box span {
  position: absolute;
  transform: translate(0, -25px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.5em;
  user-select: none;
  color: #555;
}

.middle .box span:before {
  font-size: 1.2em;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}

.middle .Perad span:before {
  content: url(../img/line/krava.png);
}
.middle .Koze span:before {
  content: url(../img/line/koza.png);
}
.middle .Svinje span:before {
  content: url(../img/line/svinja.png);
}
.middle .Goveda span:before {
  content: url(../img/line/govedo.png);
}
.middle .Ovce span:before {
  content: url(../img/line/ovca.png);
}



